<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
  <input type="text" formControlName="firstname" placeholder="Nome" />
  <input type="text" formControlName="lastname" placeholder="Cognome" />
  <input type="text" formControlName="username" placeholder="Username" />
  <input type="email" formControlName="email" placeholder="Email" />
  <input type="password" formControlName="password" placeholder="Password" />
  <input type="password" formControlName="repeatPassword" placeholder="<Repeat password>" />
  <input type="file" (change)="onImageSelected($event)" />
  <button type="submit">Registrati</button>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>
  <div *ngIf="successMessage">{{ successMessage }}</div>
</form>
