<div class="row w-100 mx-0">
  <form
    [formGroup]="formRegister"
    class="col-6 mx-auto text-center"
    (ngSubmit)="register()"
  >
    <mat-form-field class="w-100">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" type="text" matInput>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" type="text" matInput>
    </mat-form-field>
    <button mat-raised-button>Register</button>
  </form>
</div>
