<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
<body>
<div class="container password-reset-container">
  <div class="card">
    <div class="card-body p-4 p-md-5">
      <h2 class="text-center mb-4">
        <i class="bi bi-person-plus-fill"></i> Cambia la tua password
      </h2>
      <!-- Email o Username-->
      <div class="mb-3">
        <label for="username-mail" class="form-label">
          Email
        </label>
        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-envelope-fill"></i>
                            </span>
          <input type="text" class="form-control" id="username-mail" placeholder="Inserisci email o username" required>
        </div>
      </div>

      <!-- Vecchia Password -->
      <div class="mb-3">
        <label for="old-password" class="form-label">
          Password Attuale
        </label>
        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
          <input type="password" class="form-control" id="old-password" placeholder="Inserisci la tua password attuale" required >
        </div>
      </div>
      <!-- Nuova Password-->
      <div class="mb-3">
        <label for="new-password" class="form-label">
          Nuova Password
        </label>
        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock-fill"></i>
                            </span>
          <input type="password" class="form-control" id="new-password" placeholder="Inserisci una nuova password" required>
          <button class="btn btn-outline-secondary" type="button" id="togglePassword">
            <i class="bi bi-eye"></i>
          </button>
        </div>
      </div>
      <!-- Bottone Invio-->
      <div class="d-grid gap-2 mb-3">
        <button type="submit" class="btn btn-primary password-reset-btn">
          <i class="bi bi-box-arrow-in-right"></i> Cambia la tua password
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
